body {
	text-align: center;
	max-width: 400px;
	width: 100%;
	margin: auto;
	margin-top: 1em;
}

h1 {
	margin-bottom: .33em;
}

img {
	width: 100%;
	margin-bottom: .67em;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td:nth-child(odd) {
    padding-right: 1.33em;
}
